*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* image choti hogi to repeat karti hai bar bar so 
    hm no-repeat use karte hain */
    background:url(bg1.jpg) no-repeat center center fixed ;
    background-size: cover;



}
.container{
    border: 2px solid white;
    color: white;
    position: absolute;
    top: 20%;
    left: 29%;
    border-radius: 20px;

    background: rgba(65, 15, 136, 0.3);

    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px 40px;


}

.container h1{
    font-size: 40px;
    border-bottom: 4px solid rgb(38 82 119);
    margin-bottom: 15px;
    padding:13px 0px ;

}
.box{
    display: flex;
    width: 100%;
    border-bottom: 2px solid rgb(38 82 119);

}

.box input{
    width: 75%;
    margin-top: 20px;
    padding:5px 10px;
    font-size: 20px;
    /* border: 2px solid purple; */
    outline: none; 
    /* click karte hain to outline ati hai input tags me isliey use hatene ke liye outline is none */
    border: none;
    color: white;
    background: none;
   

}

.btn{
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    margin: 12px  0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid rgb(38 82 119);
    font-size: 18px;
    background: none;
    color: #fff;
    font-weight: bold;


}
.btn:hover{
    color: rgb(38 82 119);
    background: white;
    opacity: 0.5;
    
    

}

.icon{
    
    background-color: #fff;
    height: 20px;
    margin-right: 1px;
    margin-top: 27px;
    padding: 0;
    
}